.content {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 15rem;

  /* 그리드 */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1.5rem;
}

.title {
  margin-top: 8rem;
  padding: 1rem;
  font-size: 3.5rem;
  font-style: italic;
  font-weight: 700;
  grid-column: 2 / span 8;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-secondary)
  );
  -webkit-background-clip: text;
  background-clip: text;
  scroll-margin-top: 10rem;
}

.logo-container {
  margin-top: 4rem;
  margin-bottom: 2rem;
  display: flex;
  grid-column: 2 / span 10;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 0.75rem;
  padding: 1rem;
}

.btn-logo {
  border: none;
  background: none;
  padding: 0;
  display: block;
  height: auto;
  max-width: 100%;
  transition: width 0.2s ease-in-out;

  /* 모바일에서 버튼을 클릭 순간 생기는 오버레이 삭제 */
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  outline: none;
}

.btn-logo:focus-visible {
  outline: 4px solid var(--color-primary);
  outline-offset: 2px;
}

.logo-icon {
  cursor: pointer;
  filter: grayscale(60%);
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
  opacity: 0.7;
  flex-shrink: 0;
}

.logo-icon:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
  cursor: pointer;
  opacity: 1;
}

.logo-icon.selected {
  transform: scale(1.1);
  filter: grayscale(0%);
  opacity: 1;
  cursor: pointer;
}

.bold {
  font-weight: 700;
}

.description-list {
  padding-left: 0;
  margin-top: 0;
  margin-top: 0;
}

.description {
  grid-column: 2 / span 10;
  margin-top: 4rem;
  padding: 1rem;
  word-break: keep-all;

  .selected-skill-name {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    color: #663399;
    margin-bottom: 4rem;
  }

  .sentence {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    display: block;

    /* 줄 간격 */
    line-height: 1.75;
  }
}

/* 반응형 - 데스크탑(작은 모니터) (1440px) */
@media (max-width: 1440px) {
  .content {
    padding: 0 10rem;
  }
}

/* 반응형 - 태블릿 (1024px) */
@media (max-width: 1024px) {
  .content {
    padding: 0 5rem;
  }

  .logo-container {
    gap: 1.25rem;
  }

  .logo-icon {
    transform: scale(0.95);
  }
}

/* 반응형 - 모바일 (768px) */
@media (max-width: 768px) {
  .content {
    padding: 0 1.5rem;
  }

  .title {
    grid-column: 1/-1;
  }

  .logo-container {
    grid-column: 1/-1;
  }

  .description {
    grid-column: 1/-1;
  }

  .logo-icon {
    transform: scale(0.9);
  }
}

/* 반응형 - 더 작은 화면 (576px) */
@media (max-width: 576px) {
  .content {
    padding: 0 1.5rem;
  }

  .logo-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    place-items: center;
  }
}
