.navbar {
  height: 4rem;
  background-color: #7da3fc;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.navbar-content {
  max-width: 90rem;
  height: 100%;
  margin: 0 auto;
  padding: 0 15rem;

  /* 그리드 */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1.5rem;
  align-items: center;
}

.active-navbar {
  /* 버튼 기본 CSS 제거 */
  background: transparent;
  border: 0;

  height: 4rem;
  line-height: 4rem;
  grid-column: span 4;
  font-size: 1.75rem;
  font-style: italic;
  font-weight: 700;
  text-align: center;

  /* 탭 활성화 상태 */
  color: black;
  border: 1px solid black;
  border-bottom: none;
  background-color: white;

  font-size: clamp(1.5rem, 0.25rem + 2.5vw, 1.75rem);
  cursor: pointer;
}

.inactive-navbar {
  /* 버튼 기본 CSS 제거 */
  background: transparent;
  border: 0;

  height: 4rem;
  line-height: 4rem;
  font-size: 1.75rem;
  grid-column: span 4;
  text-align: center;
  color: white;
  font-style: italic;
  font-weight: 700;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  cursor: pointer;
}

/* 반응형 - 태블릿 (1024px) */
@media (max-width: 1024px) {
  .navbar-content {
    padding: 0 5rem;
  }
}

/* 반응형 - 모바일 (768px) */
@media (max-width: 768px) {
  .navbar-content {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;

    /* 그리드 */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1.5rem;
    align-items: center;

    .about-me {
      border-left: none;
    }
  }
}
