.stack-posting-container {
}

.thumbnail-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;

  .thumbnail-image {
    cursor: pointer;
    width: 140px;
    height: 140px;
  }

  .thumbnail-hover {
    cursor: pointer;
    background-color: white;
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 2px solid black;

    .link-text {
      color: black;
      font-size: 0.875rem;
      font-weight: 700;
    }
  }
}
