.content {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 15rem;

  /* 그리드 */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1.5rem;
}

.title {
  margin-top: 8rem;
  padding: 1rem;
  font-size: 3.5rem;
  font-style: italic;
  font-weight: 700;
  grid-column: 2 / span 8;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-secondary)
  );
  -webkit-background-clip: text;
  background-clip: text;
  scroll-margin-top: 10rem;
}

.profile-image {
  grid-column: 2 / span 4;
  padding: 1rem;
  margin-top: 4rem;
}

.profile-image img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link-container {
  padding: 1rem;
  grid-column: 7 / span 6;
  margin-top: 4rem;
}

.link-category {
  font-size: 1.75rem;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.link-link-group {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  font-style: italic;
  margin-inline-start: 0;
  word-break: break-all;
  margin-bottom: 0.75rem;

  .link {
    text-decoration: none;
    color: inherit;
  }

  .link:hover {
    text-decoration: underline;
    color: var(--color-primary);
  }

  .link:focus-visible {
    outline: 4px solid var(--color-primary);
    outline-offset: 2px;
  }
}

.description {
  grid-column: 2 / span 10;
  margin-top: 4rem;
  padding: 1rem;
  font-size: 2.5rem;
  word-break: keep-all;

  .sentence {
    margin-bottom: 0.5rem;
    display: block;
    /* 줄 간격 */
    line-height: 1.25;

    .thinking {
      font-weight: 700;
      color: var(--color-primary);
      background-color: black;
      padding: 0 0.75rem;
    }

    .feeling {
      font-weight: 700;
      color: var(--color-secondary);
      background-color: black;
      padding: 0 0.75rem;
    }
  }
}

.description-2 {
  grid-column: 2 / span 10;
  margin-top: 1.75rem;
  padding: 1rem;
  font-size: 1.75rem;
  word-break: keep-all;

  .sentence-2 {
    margin-bottom: 0.5rem;
    display: block;
    /* 줄 간격 */
    line-height: 1.5;
  }
}

.education-container {
  display: flex;
  flex-direction: column;

  .education-title {
    font-size: 2.75rem;
    font-style: italic;
    font-weight: 700;
    grid-column: 2 / span 8;
    margin-bottom: 4rem;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(
      to right bottom,
      var(--color-primary),
      var(--color-secondary)
    );
    -webkit-background-clip: text;
    background-clip: text;
  }

  .education-sentence {
    font-size: 1.25rem;
    /* font-weight: 500; */
    line-height: 1.5;
  }
  .education-sentence-2 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
  }
}

/* 반응형 - 데스크탑(작은 모니터) (1440px) */
@media (max-width: 1440px) {
  .content {
    padding: 0 10rem;
  }
}

/* 반응형 - 태블릿 (1024px) */
@media (max-width: 1024px) {
  .content {
    padding: 0 5rem;
  }
}

/* 반응형 - 모바일 (768px) */
@media (max-width: 768px) {
  .content {
    padding: 0 1.5rem;
  }

  .title,
  .profile-image,
  .link-container,
  .description,
  .description-2 {
    grid-column: 1 / -1;
  }

  .profile-image {
    grid-column: 1 / span 12;
    justify-self: center;
  }

  .profile-image img {
    max-width: 15rem;
    width: 80%;
    justify-content: center;
  }

  .link-container {
    grid-column: 1 / span 12;
    /* justify-self: center; */
  }
}
