.content {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 15rem;

  /* 그리드 */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1.5rem;
}

.title-seat {
  grid-column: 2 / span 6;
}

.stacks-container-seat {
  grid-column: 2 / span 10;
}

/* 반응형 - 데스크탑(작은 모니터) (1440px) */
@media (max-width: 1440px) {
  .content {
    padding: 0 10rem;
  }
}

/* 반응형 - 태블릿 (1024px) */
@media (max-width: 1024px) {
  .content {
    padding: 0 5rem;
  }

  .title {
    margin-top: 6rem;
  }

  .logo-container {
    gap: 1.25rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }

  .logo-icon {
    transform: scale(0.95);
  }
  .description {
    margin-top: 3rem;

    .selected-skill-name {
      margin-bottom: 3rem;
    }
  }
}

/* 반응형 - 모바일 (768px) */
@media (max-width: 768px) {
  .content {
    padding: 0 1.5rem;
  }

  .title {
    grid-column: 1/-1;
    margin-top: 4rem;
  }

  .logo-container {
    grid-column: 1/-1;

    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .description {
    grid-column: 1/-1;
    margin-top: 2rem;

    .selected-skill-name {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    .sentence {
      font-size: 1.125rem;
      margin-bottom: 1.5rem;
      display: block;

      /* 줄 간격 */
      line-height: 1.75;
    }
  }

  .logo-icon {
    transform: scale(0.9);
  }
}

/* 반응형 - 더 작은 화면 (576px) */
@media (max-width: 576px) {
  .content {
    padding: 0 1.5rem;
  }

  /* 중첩그리드 */
  .logo-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    place-items: center;
  }
}
