.logo-container {
  /* margin-top: 4rem; */
  /* margin-bottom: 2rem; */
  display: flex;
  grid-column: 2 / span 10;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 0.75rem;
  padding: 1rem;
}

.btn-logo {
  border: none;
  background: none;
  padding: 0;
  display: block;
  height: auto;
  max-width: 100%;
  transition: width 0.2s ease-in-out;

  /* 모바일에서 버튼을 클릭 순간 생기는 오버레이 삭제 */
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  outline: none;
}

.btn-logo:focus-visible {
  outline: 4px solid var(--color-primary);
  outline-offset: 2px;
}

.logo-icon {
  cursor: pointer;
  filter: grayscale(60%);
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
  opacity: 0.7;
  flex-shrink: 0;
}

.logo-icon:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
  cursor: pointer;
  opacity: 1;
}

.logo-icon.selected {
  transform: scale(1.1);
  filter: grayscale(0%);
  opacity: 1;
  cursor: pointer;
}

.bold {
  font-weight: 700;
}

.list-styling {
  /* li 태그 기본 스타일링 제거 */
  list-style: none;
}
