.navbar {
  height: 4rem;
  background-color: #7da3fc;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.navbar-content {
  max-width: 90rem;
  height: 100%;
  margin: 0 auto;
  padding: 0 15rem;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1.5rem;
  align-items: center;

  .btn {
    grid-column: span 3;
    cursor: pointer;

    /* 버튼 기본 CSS 제거 */
    background: transparent;
    border: 0;

    height: 4rem;
    color: white;
    font-style: italic;
    font-weight: 700;
    font-size: clamp(1.5rem, 0.25rem + 2.5vw, 1.75rem);
  }

  .btn:focus-visible {
    outline: 4px solid black;
    outline-offset: -4px;
  }

  /* 선택된 탭 상태 */
  .btn-selected {
    color: black;
    border: 1px solid black;
    border-bottom: none;
    background-color: white;
  }

  /* 선택되지않은 탭 상태 */
  .btn-unselected {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}

/* 태블릿 (1024px) */
@media (max-width: 1024px) {
  .navbar-content {
    padding: 0 5rem;
  }
}

/* 모바일 (768px) */
@media (max-width: 768px) {
  .navbar-content {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 0rem;

    /* 중첩 그리드 */
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    /* 모바일에서는 버튼 간격 제거 */
    column-gap: 0;
    .about-me {
      border-left: none;
    }
  }

  /* 모바일에서 내브바 버튼 폰트 크기 줄이기 */
  .btn {
    height: 4rem;
    font-size: clamp(1.375rem, 0.25rem + 2.5vw, 1.75rem);
    font-style: italic;
    font-weight: 700;
  }
}
