/* @font-face {
  font-family: "pretendard";
  src: url("../font/PretendardVariable.woff2") format("woff-variations");
  font-style: normal;
  font-display: swap;
} */

:root {
  /* Colors */
  --color-primary: #7da3fc;
  --color-secondary: #ceafe8;
  --color-text: inherit;
  --color-text-dark: #333;

  /* Font Weights */
  --font-weight-bold: 700;
}

body {
  margin-top: 4rem;
  /* font-family: "pretendard", sans-serif; */
  background-color: white;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
