.description-container {
  .description {
    padding: 0.25rem;
    margin-top: 0.25rem;
    font-size: 1.125rem;
    display: inline-block;
    word-break: keep-all;
    line-height: 1.75;
  }
}

/* 태블릿 (1024px) */
@media (max-width: 1024px) {
}

/* 모바일 (768px) */
@media (max-width: 768px) {
}
