.content {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 15rem;

  /* 나중에 삭제 */
  margin-bottom: 15rem;

  /* 그리드 */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1.5rem;
}

.project-container {
  grid-column: 2 / span 10;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 4rem;
}

/* 반응형 - 데스크탑(작은 모니터) (1440px) */
@media (max-width: 1440px) {
  .content {
    padding: 0 10rem;
  }
}

/* 반응형 - 태블릿 (1024px) */
@media (max-width: 1024px) {
  .content {
    padding: 0 5rem;
  }

  .title {
    margin-top: 6rem;
    margin-bottom: 2rem;
  }
}

/* 반응형 - 모바일 (768px) */
@media (max-width: 768px) {
  .content {
    padding: 0 1.5rem;
  }

  .project-container {
    grid-column: 1/-1;
  }

  .title {
    grid-column: 1/-1;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

/* 반응형 - 더 작은 화면 (576px) */
/* @media (max-width: 576px) {
  .content {
    padding: 0 1.5rem;
  }
} */
