/* 소제목 라벨 */
.project-label {
  display: inline-block;
  text-align: center;
  color: white;
  font-size: 1rem;
  font-weight: 550;
  background-color: black;
  padding: 0.25rem 1rem;
  border-radius: 1.25rem;
  margin-bottom: 0.5rem;
}
