/* 기술 스택 */
.skills-container {
  grid-column: 2 / span 6;

  .skill-list {
    padding: 0.25rem;
    gap: 1rem;

    /* ul 태그 기본 스타일링 제거 */
    margin: 0;

    margin-top: 0.25rem;
  }

  .skill {
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    color: white;
    border-radius: 0.5rem;
    padding: 0.125rem 0.75rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;

    text-shadow: -0.7px 0px black, 0px 0.7px black, 0.7px 0px black,
      0px -0.7px black;

    /* li 태그  */
    list-style: none;
  }

  .icon-align {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}

/* 반응형 - 데스크탑(작은 모니터) (1440px) */
@media (max-width: 1440px) {
}

/* 반응형 - 태블릿 (1024px) */
@media (max-width: 1024px) {
  .skills-container {
    grid-column: 2 / span 10;
  }
}

/* 반응형 - 모바일 (768px) */
@media (max-width: 768px) {
  .skills-container {
    grid-column: 2 / span 10;
  }
}

/* 반응형 - 더 작은 화면 (576px) */
/* @media (max-width: 576px) {
    .content {
      padding: 0 1.5rem;
    }
  } */
