.feature-container {
  margin-bottom: 3rem;

  .feature-list {
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    margin-top: 0.25rem;

    .feature {
      display: inline-block;
      font-size: 1.125rem;
      line-height: 1.75;
    }
  }
}
/* 태블릿 (1024px) */
@media (max-width: 1024px) {
}

/* 모바일 (768px) */
@media (max-width: 768px) {
  .feature-container {
    margin-bottom: 2rem;
  }
}
