.content {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 15rem;

  /* 나중에 삭제 */
  margin-bottom: 15rem;

  /* 그리드 */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1.5rem;
}

.title {
  margin-top: 8rem;
  padding: 1rem;
  font-size: 3.5rem;
  font-style: italic;
  font-weight: 700;
  grid-column: 2 / span 8;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-secondary)
  );
  -webkit-background-clip: text;
  background-clip: text;
}

.project-container {
  grid-column: 2 / span 10;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .project-card {
    background-color: #ededed;
    border-radius: 0.75rem;

    .project-inner-container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 2rem;
      align-items: flex-start;
    }
  }
}

/* 프로젝트명 */
.project-name-container {
  grid-column: 2 / span 6;

  .project-name {
    margin-top: 2.5rem;
    width: auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 550;
    display: inline-block;
    color: white;
    background-color: black;
    padding: 0.25rem 2.5rem;
    border-radius: 1.25rem;
  }
}

/* 프로젝트 이미지 */
.browser-image {
  grid-column: 2 / span 6;
  width: 100%;
  height: auto;
  border-radius: 0.75rem;
}

/* 프로젝트 유형/기간/역할 */
.dl-style {
  grid-column: 8 / span 3;

  /* dl 태그 기본 마진 제거 */
  margin: 0;
  margin-top: 0.5rem;

  .dt-style {
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: 550;
    background-color: black;
    padding: 0.25rem 1rem;
    border-radius: 1.25rem;
  }

  .dd-style {
    margin: 0;
    margin-top: 0.25rem;
    font-size: 1.125rem;
    padding: 0.25rem 0rem;
    margin-bottom: 0.75rem;
  }
}

/* description-name 및 다른 속성과 동일 -> 합치기  */
.skill-list-name {
  display: inline-block;
  text-align: center;
  color: white;
  font-size: 1rem;
  font-weight: 550;
  background-color: black;
  padding: 0.25rem 1rem;
  border-radius: 1.25rem;
  margin-bottom: 0.5rem;
}

/* 기술 스택 + 구현 기능 */
.skills-feature-container {
  grid-column: 2 / span 6;

  /* 기술 스택 */
  .skills-container {
    .skill-list-name {
      display: inline-block;
      text-align: center;
      color: white;
      font-size: 1rem;
      font-weight: 550;
      background-color: black;
      padding: 0.25rem 1rem;
      border-radius: 1.25rem;
      margin-bottom: 0.5rem;
    }

    .skill-list {
      gap: 1rem;
      margin-top: 0.25rem;
      margin-bottom: 2rem;
    }

    .skill {
      display: inline-block;
      justify-content: center;
      align-items: center;
      font-size: 0.875rem;
      color: white;
      border-radius: 0.5rem;
      padding: 0.125rem 0.75rem;
      margin-right: 0.5rem;
      margin-bottom: 0.25rem;
    }

    .icon-align {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
  }

  /* 구현 기능 */
  .feature-container {
    margin-bottom: 3rem;

    .feature-name {
      display: inline-block;
      text-align: center;
      color: white;
      font-size: 1rem;
      font-weight: 550;
      background-color: black;
      padding: 0.25rem 1rem;
      border-radius: 1.25rem;
      margin-bottom: 0.5rem;
    }

    .feature-list {
      display: flex;
      flex-direction: column;
      margin-top: 0.25rem;

      .feature {
        display: inline-block;
        font-size: 1.125rem;
        line-height: 1.5;
      }
    }
  }
}

.description-container {
  grid-column: 8 / span 4;

  .description-name {
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: 550;
    background-color: black;
    padding: 0.25rem 1rem;
    border-radius: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .description {
    margin-top: 0.25rem;
    font-size: 1.125rem;
    display: inline-block;
    word-break: keep-all;
    line-height: 1.5;
  }
}

/* 반응형 - 데스크탑(작은 모니터) (1440px) */
@media (max-width: 1440px) {
  .content {
    padding: 0 10rem;
  }
}

/* 반응형 - 태블릿 (1024px) */
@media (max-width: 1024px) {
  .content {
    padding: 0 5rem;
  }
}

/* 반응형 - 모바일 (768px) */
@media (max-width: 768px) {
  .content {
    padding: 0 1.5rem;
  }

  .project-container {
    grid-column: 1/-1;

    .project-card {
      background-color: #ededed;
      border-radius: 0.75rem;

      .project-inner-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1.5rem;
        align-items: flex-start;
      }
    }
  }

  .project-name-container {
    grid-column: 2 / span 10;
  }

  .title {
    grid-column: 1/-1;
  }

  /* 프로젝트 이미지 */
  .browser-image {
    grid-column: 2 / span 10;
    width: 100%;
    height: auto;
    border-radius: 0.75rem;
  }

  /* 프로젝트 유형/기간/역할 */
  .dl-style {
    grid-column: 2 / span 10;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;

    margin: 0;

    .dt-style {
      grid-row: 1;
      background: none;
      justify-self: left;
      padding: 0 0;

      .dt-span-style {
        display: inline-block;

        color: white;
        font-size: 1rem;
        font-weight: 550;
        background-color: black;
        padding: 0.25rem 1rem;
        border-radius: 1.25rem;
      }
    }

    .dd-style {
      margin: 0;
      margin-top: 0.25rem;
      display: inline-block;
      font-size: 1.125rem;
    }
  }
  /* 기술 스택 + 구현 기능 */
  .skills-feature-container {
    grid-column: 2 / span 10;

    /* 기술 스택 */
    .skills-container {
      .skill-list-name {
        display: inline-block;
        text-align: center;
        color: white;
        font-size: 1rem;
        font-weight: 550;
        background-color: black;
        padding: 0.25rem 1rem;
        border-radius: 1.25rem;
        margin-bottom: 0.5rem;
      }

      .skill-list {
        gap: 1rem;

        /* skill-list는 features와 wrap되어있으므로 gap이 아닌 margin-bottom으로 간격을 준다 */
        margin-bottom: 1.5rem;
      }

      .skill {
        display: inline-block;
        font-size: 0.875rem;
        color: white;
        border-radius: 0.5rem;
        padding: 0.125rem 0.75rem;
        margin-right: 0.5rem;
        margin-bottom: 0.25rem;
      }
    }

    /* 구현 기능 */
    .feature-container {
      margin-bottom: 0;

      .feature-name {
        display: inline-block;
        text-align: center;
        color: white;
        font-size: 1rem;
        font-weight: 550;
        background-color: black;
        padding: 0.25rem 1rem;
        border-radius: 1.25rem;
        margin-bottom: 0.5rem;
      }

      .feature-list {
        display: flex;
        flex-direction: column;
        .feature {
          display: inline-block;
        }
      }
    }
  }

  .description-container {
    grid-column: 2 / span 10;
    margin-bottom: 2rem;
  }
}

/* 반응형 - 더 작은 화면 (576px) */
@media (max-width: 576px) {
  .content {
    padding: 0 1.5rem;
  }
}
