/* 프로젝트 카드 최상위 컨테이너 */
.project-card {
  background-color: #ededed;
  border-radius: 0.75rem;
}

/* 프로젝트 카드 그다음 컨테이너 */
.project-inner-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  align-items: flex-start;
  padding: 2rem;
}

/* 반응형 - 데스크탑(작은 모니터) (1440px) */
@media (max-width: 1440px) {
}

/* 반응형 - 태블릿 (1024px) */
@media (max-width: 1024px) {
}

/* 반응형 - 모바일 (768px) */
@media (max-width: 768px) {
}
