.project-name-container {
  .project-name {
    margin-top: 2.5rem;
    width: auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 550;
    display: inline-block;
    color: white;
    background-color: black;
    padding: 0.25rem 2.5rem;
    border-radius: 1.25rem;
  }
}

/* 태블릿 (1024px) */
@media (max-width: 1024px) {
}

/* 모바일 (768px) */
@media (max-width: 768px) {
  .project-name-container {
    grid-column: 1 / span 10;

    .project-name {
      margin-top: 1rem;
    }
  }
}
