.skills-container {
  .skill-list {
    padding: 0.25rem;
    gap: 1rem;
    margin-top: 0.25rem;
  }

  .skill {
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    color: white;
    border-radius: 0.5rem;
    padding: 0.125rem 0.75rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;

    /* li 태그 기본 스타일(.) 삭제 */
    list-style: none;
  }

  .icon-align {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}

/* 작은 데스크탑 (1440px) */
@media (max-width: 1440px) {
}

/* 태블릿 (1024px) */
@media (max-width: 1024px) {
}

/* 모바일 (768px) */
@media (max-width: 768px) {
}
