/* 구현 기능 */
.feature-container {
  grid-column: 2 / span 6;
  margin-bottom: 3rem;

  .feature-list {
    /* ul 태그 기본 스타일링 제거 */
    margin: 0;

    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    margin-top: 0.25rem;

    .feature {
      display: inline-block;
      font-size: 1.125rem;
      line-height: 1.75;
    }
  }
}

/* 소제목 라벨 */
.project-label {
  display: inline-block;
  text-align: center;
  color: white;
  font-size: 1rem;
  font-weight: 550;
  background-color: black;
  padding: 0.25rem 1rem;
  border-radius: 1.25rem;
  margin-bottom: 0.5rem;
}
