/* 프로젝트 유형/기간/역할 */
.project-detail-list {
  .project-detail-value {
    padding: 0.25rem;
    font-size: 1.125rem;
    margin-bottom: 0.75rem;
  }
}

/* 반응형 - 태블릿 (1024px) */
@media (max-width: 1024px) {
  .project-detail-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .project-array {
      grid-row: 1;
      justify-self: left;
    }
  }
}

/* 반응형 - 모바일 (768px) */
@media (max-width: 768px) {
}
