.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  padding: 1rem;
  z-index: 10;
}

.modal {
  width: auto;
  height: auto;
  border-radius: 12px;
  padding: 1rem;
  position: relative;
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  overflow-y: auto;
  scrollbar-width: none;
  background: white;
  margin: 0;
}

.modal::backdrop {
  display: none;
}
